@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #414141;
   
}
h2{
    font-weight: 500;
    padding-bottom: 10px;
}
.main{
    font-weight: 300;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    
}

#box{
    background-color: rgb(19, 164, 164);
    color: #eee;
    width: 40%;
    box-shadow: 0px 0px 10px white;
    border-radius: 25px;
    padding: 50px;
}

.row{
    width: 100%;
    margin: 2rem;
    margin-left: 0;

}
.btn{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    color: red;
    background-color: white;
    border: none;
    outline: none;
    font-size:1rem;
}
.btn:hover{
    background-color: red;
    box-shadow:  0 0 10px rgb(213, 246, 1);
    color: white;
    font-weight: bold;
    letter-spacing: .3rem;
    /* padding: 10px 20px; */

}
span{ 
    font-weight: bold;
    color: white;

}

p{
    font-weight: bold;
    color: yellow;
}
.final{
    display: flex;
    flex-direction: column;
   
}