@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3b7573;
    font-family: 'Poppins', sans-serif;;
}

.container{
background-image:url(https://t4.ftcdn.net/jpg/04/97/80/99/360_F_497809944_FMo3DO6j7XSlb9rZKOlnqaaWoJhuZXBm.jpg) ;   
    border-radius: 25px;
width: 600px;
    margin: 100px auto;
    padding:  40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.246);
}
.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container:hover{
    box-shadow: 10px 10px 10px black ;
}
.main h1{
    text-align: center;
    font-size: 30px;
    color:rgb(20, 1, 170) ;
    

}

.inputs{
    padding: 2rem 0;
    text-align: center;
    justify-content: center;
    /* background-color: #F0EDCF; */
    height: 150px;
    border-radius:25px ;

}

.inputs input[type = "text"]{
    height: 4rem;
    width: 20rem;
    background: #212121;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #473939;
    border-radius: 25px;
    margin-right: 4px;
}
.inputs input[type = "text"]:hover{
    box-shadow: 10px 10px 30px white  ;
}
.inputs input[type = "submit"]:hover{
    box-shadow: 10px 10px 30px white  ;
}

.inputs input[type = "submit"]{
    height: 3rem;
    width: 6rem;
    background-color: #270aca;
    font-weight:bold;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
}

.display{
    text-align: center;
    width: 520px;
    color: #16a864;

}
.wrapper{
    margin: 0 9rem;
    background-color: rgb(172, 189, 221);
    height: 30vh;
    margin: 50px auto;
    border-radius: 20px ;
}

.wrapper h2{
    padding: 5px 0;
    text-align: center;
    background-color: #0B60B0;
    color: white;
    border-radius: 30px;
}
.wrapper p{
    margin: 20px 50px;
    margin-right: 20px;
    text-align: left;
    color: #04214c;
    font-size: 23px;
}
.wrapper h2 span{
    font-size: 26px;
    color: #9beefb;
}
.wrapper p span{
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}